@import "tailwindcss";
*{
    /* padding: 0;
    margin: 0; */
}
body{
    background: #F2F4F7;
    overflow-x: hidden;
}
.hide-scrollbar::-webkit-scrollbar{
    width: 0;
}

.hr{
    border: 0;
    height: 1px;
    background: lightgray;
    margin: 0.7rem 0;
}
.post-caption::placeholder{
    font-size: 1.5rem;
}
.post-caption{
    resize: none;
}
.post-caption {
    resize: none;
  }
  
  .changed-textarea {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
/* Hide scrollbar but allow scrolling */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}
.reaction-container {
  display: flex;
  align-items: center;
}

.reaction-emoji {
  display: inline-block;
  position: relative;
}

.reaction-emoji:not(:first-child) {
  margin-left: -10px;
}