@import "tailwindcss";
*{
    /* padding: 0;
    margin: 0; */
}
body{
    background: #F2F4F7;
    overflow-x: hidden;
}
.hide-scrollbar::-webkit-scrollbar{
    width: 0;
}

.hr{
    border: 0;
    height: 1px;
    background: lightgray;
    margin: 0.7rem 0;
}
.post-caption::placeholder{
    font-size: 1.5rem;
}
.post-caption{
    resize: none;
}